<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Первый шаг пройден!</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
  <link rel="icon" href="{% static 'students/console/favicon.ico' %}" type="image/x-icon">
  <meta http-equiv="refresh" content="9;URL='/console'" />
</head>
<body>
  <div class=fakeMenu>
  <div class="fakeButtons fakeClose"></div>
  <div class="fakeButtons fakeMinimize"></div>
  <div class="fakeButtons fakeZoom"></div>
</div>
<div class="fakeScreen">
  <p class="line1">&#91;&nbsp;&ldquo;Проверьте почту!&rdquo;,<span class="cursor1">_</span></p>
  <p class="line2">&nbsp;&nbsp;&ldquo;Не нашли?!&rdquo;,<span class="cursor2">_</span></p>
  <p class="line3">&nbsp;&nbsp;&ldquo;Проверьте спам раздел!&rdquo;&nbsp;&#93;<span class="cursor3">_</span></p>
  <p class="line4">><span class="cursor4">_</span></p>
</div>
</body>
</html>